<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Produits</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>

<body>
	<div class="container-fluid">
		<h1 th:text="'Produits : ' + ${#lists.size(produits)} + ' r&eacute;sulats' "> </h1>
 		<div class="row">
			<div th:each="produit : ${produits}" class="col-md-6 my-1"
				style="border: 1px dotted black;">

				<div class="row">
				    <div class="col-md-6"><a th:href="@{${produit.url}}" target="_blank">	<p th:text="${produit.titre}"></p></a>
				   </div>
				   <div class="col-md-2"><img alt='' th:src="@{ ${produit.urlLogo} }" />
				   </div>
				</div> 
				
				<p>
					Prix : 
					<small><span th:text="${produit.prix}"></span></small>
				</p>
				<p>
					Entreprise : 
					<small><strong><span th:text="${produit.entreprise}"></span></strong></small>
				</p>	
				<small>Année : <span th:text="${produit.dateModele}"></span></small>
						
				<p>
					Description : 
					<small><span th:utext="${produit.description}"></span></small>
				</p>
				<p>
					Caracteristiques : 
	
					<table style='border: 1px solid black;'>
					    <tr th:each="element : ${produit.caracteristiques}" style='border: 1px solid black;'>
					        <td th:text="${element.key}" style='border: 1px solid black;'></td>
					         <td th:text="${element.value}" style='border: 1px solid black;'></td>
					    </tr>
					</table>	
 
					
				</p>
				
			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>