<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mcommerce</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>

<body>
	<div class="container-fluid">
		<h1 th:text="'EmploisFrictifs : ' + ${#lists.size(offres)} + ' r&eacute;sulats' "> </h1>
		<div class="row">
			<div th:each="offre : ${offres}" class="col-md-4 my-1"
				style="border: 1px dotted black;">

				<div class="row">
					<div class="col-md-9">
						<a th:href="@{${offre.url}}">
							<p th:text="${offre.titre}"></p>
						</a>
					</div>
					<div class="col-md-2">
						<img th:src="@{ ${offre.urlLogo} }" />
					</div>
				</div>

				<p>
					Entreprise : <small><span th:text="${offre.entreprise}"></span></small>
				</p>
				<p>
					Adresse : <small><span th:text="${offre.adresse}"></span></small>
				</p>
				<p>
					Date publication : <small><span
						th:text="${offre.datePublication}"></span></small>
				</p>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>